.announcer-main-container {
  width: 700px;
  height: 130px;
  border: 2px solid navy;
  border-radius: 10px;
  margin-top: 10px;
  overflow: scroll;
  padding: 5px 10px;

  .mike-breen {
    color: green;
    margin-right: 5px;
  }

  .announcement-string {
    margin: 5px 0;
  }
}
