.court-tile-main-container {
  height: 75px;
  width: 75px;
  border: 1px solid black;
  font-size: 10px;

  &.hoop-one {
    background-color: rgb(66, 136, 216);
  }
  &.hoop-two {
    background-color: rgb(66, 136, 216);
  }
  &.paint {
    background-color: rgb(66, 136, 216);
  }
  &.midrange {
    background-color: rgb(115, 170, 233);
  }
  &.three {
    background-color: rgb(174, 211, 254);
  }
  &.halfcourt {
    background-color: rgb(169, 197, 226);
  }
}
